@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Brice;
  src: url("../public/Brice/Brice-SemiBold.otf") format("opentype");
}

.font-1
{
  font-family: Brice;
}